@model Librarian.Models.LBook

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LBook</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="lBookID" />
            <div class="form-group">
                <label asp-for="lBookIndex" class="control-label"></label>
                <input asp-for="lBookIndex" class="form-control" />
                <span asp-validation-for="lBookIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="note" class="control-label"></label>
                <input asp-for="note" class="form-control" />
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bookID" class="control-label"></label>
                <input asp-for="bookID" class="form-control" />
                <span asp-validation-for="bookID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

