@model Librarian.Models.LibraryCard

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LibraryCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="libraryCardID" />
            <div class="form-group">
                <label asp-for="librayCardIndex" class="control-label"></label>
                <input asp-for="librayCardIndex" class="form-control" />
                <span asp-validation-for="librayCardIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullName" class="control-label"></label>
                <input asp-for="fullName" class="form-control" />
                <span asp-validation-for="fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cardStatus" class="control-label"></label>
                <input asp-for="cardStatus" class="form-control" />
                <span asp-validation-for="cardStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expirationDate" class="control-label"></label>
                <input asp-for="expirationDate" class="form-control" />
                <span asp-validation-for="expirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
